@charset "UTF-8";
 
@font-face {
  font-family: 'HelveticaNeueBold';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;font-display: swap;}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; font-display: swap;}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; font-display: swap;}

@font-face {
font-family: 'HelveticaNeueThin';
src: local('☺'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: swap;}

@font-face {
  font-family: 'HelveticaNeueLightItalic';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; font-display: swap;}
